#navbar {
    display: flex;
    background-color: black;
    color: azure;
    padding: 10px;
    margin: 0px auto;
    margin-top: 2vh;
    justify-content: center;
  }
  #navbar .nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border: 1px solid red; */
    gap: 13px;
  }
  .nav Link{
    color: azure;
    text-decoration: none;
  }
  /* img {
    width: 20px;
    height: 20px;
  } */